<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono|Share+Tech+Mono" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../styles/sideNav.css">
  <link rel="stylesheet" type="text/css" href="../styles/article.css">
  <link rel="stylesheet" type="text/css" href="../styles/footer.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
  <div id='sideNavBtn' onclick='toggleSideNav()'><i class="fas fa-bars menuIcon"></i></div>
  <div id="sideNav"></div>

  <div id="articleContent">
    <div class="heading">
      <h1 id="articleTitle"></h1>
      <h3 id="createdOn">Created on: </h3>
    </div>

    <div id="articleText"></div>
  </div>
  <div id='footer'></div>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script src="./js/sideNav.js"></script>
  <script src="./js/footer.js"></script>
  <script src="../articles/index.js"></script>
</body>

</html>