<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/article.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono|Share+Tech+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/sideNav.css">
    <link rel="stylesheet" type="text/css" href="../styles/article.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="sideNav"></div>    

    <div id="articleContent">
      <div class="heading">
        <h1 id="articleTitle"></h1>
        <h3 id="createdOn">Created on: </h3>
      </div>

      <div id="articleText"></div>
    </div>
  </body>
  <script src="sideNav.js"></script>
  <script src="../cms.js"></script>
</html>