#app-banner {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 900px;
    margin: 12px;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
