.text-btn {
  height: 30px;
  padding: 8px;
  background: none;
  border: none;
}

.text-btn:hover, .icon-btn:hover {
  color: lightblue;
}

.text-btn:active, .icon-btn:active {
  color: #7EAFA5;
}

.profile-image {
  margin: 16px;
  img {
    border-radius: 250px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 20px;
}

.text {
 font-size: 16px;
 line-height: 24px;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.list-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#footer {
  width: 100%;
}
