h1, h2, h3, h4, h5, h6 {
  font-family: 'Share Tech Mono', monospace;
}

p {
  font-family: 'Oxygen Mono', monospace;
}

code {
  background-color: #e3e3e3;
}

.heading {
  height: 200px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#articleTitle, #createdOn {
  width: calc(90% - 50px);
  margin: 0 auto 0 50px;
}

#articleText p {
  font-family: 'Playfair Display', serif;
  font-size: 110%;
  line-height: 30px;
  width: 80%;
  margin: 20px auto;
}

#articleText ul {
  list-style-type: none;
}

#articleText {
 margin-bottom: 100px; 
}

#articleText .subtitle {
  text-align: center;
  width: 70%;
  margin: 0 auto 70px auto;
  line-height: 30px;
  font-size: 120%;
}

.articleList {
  width: 80%;
  margin: 0 auto;
  font-family: 'Oxygen Mono', monospace;
}

.textNumbers {
  margin: 15px auto !important;
  width: 60% !important;
  text-indent: -18px;
}

.contentHeading {
  width: 80%;
  margin: 40px auto 30px auto;
  color: #7EAFA5;
  font-size: 200%;
  text-align: center;
}

.contentImg {
  display: block;
  margin: 0 auto;
}

.divider {
  height: 1px;
  width: 80%;
  margin: 30px auto 20px auto;
  background-color: #d3d3d3;
}

#sideNav {
  position: fixed;
  width: 200px;
  height: 100vh;
  top: 0;
  left: 0;
}

#articleContent {
  position: relative;
  left: 200px;
  width: calc(100vw - 200px);
}

.codeBlock {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}